CONTACT_TO=info@pahalhospital.com
CONTACT_FROM=info@pahalhospital.com
PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
ZOHO_ACCOUNTS_URL=https://accounts.zoho.com
ZOHO_MAIL_API_BASE=https://mail.zoho.com
ZOHO_ACCOUNT_ID=1593302000000008002
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
